* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #e0e0e0;
}

h1 {
    text-align: center;
    font-weight: bold;
}

h2 {
    color: #fc6f03;
    text-align: center;
    font-weight: bold;
}

h3 {
    text-align: right;
}

table {
    border: 2px solid #c95700;
}

td {
    border-top: 1px solid #fc6f03;
}

th {
    background-color: #fc6f03;
    font-weight: bold;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.code {
    font-size: 14px;
    font-family: 'Source Code Pro', monospace;
    background-color: rgb(249, 255, 211);
}

